body {
	> div.container, > div.container-fluid {
		padding-top: 6em;
		padding-bottom: 4em;
	}
}

.thumbnail {
	border-radius: 30%;
}

nav.navbar {
	.navbar-brand {
		width: auto;
		height: 2em;
	}
	div.navbar-nav {
		.nav-link.active {
			color: #007bff;
		}
	}
	.social {
		padding-right: 1em;
		img {
			height: 1.75em;
		}
	}
}

article#article {
	.article-reblog {
		.btn {
			padding-bottom: 1em;
			margin-bottom: 1em;
			width: 100%;
		}
	}
}

#articles {
	> article {
		> header {
			margin-bottom: -2em;
			> a {
				color: #333;
				font-weight: bold;
				font-size: 1.2em;
				text-decoration: none;
			}
		}
		> .summary {
			> p {
				display: -webkit-box;
				-webkit-line-clamp: 7;
				-webkit-box-orient: vertical;
				max-height: 12em;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
	margin-left: 0.5em;
}

.required {
	color: red;
}

#footer {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background: #efefef;
}
