#content {
	padding-top: 5em;
}
.social {
	padding-right: 1em;
	img {
		height: 1.75em;
	}
}
.thumbnail {
	border-radius: 30%;
}

.navbar-brand {
	width: auto;
	height: 2em;
}

#articles {
	article {
		header {
			margin-bottom: 0.5em;
		}
		margin-right: 0.5em;
		> .alert{
			display: inline-block;
			max-height: 9.5em;
			> p {
				height:100%;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
	margin-left: 0.5em;
}
.required {
	color: red;
}
#form > div {
	> label {
		display: block;
		margin-bottom: 1em;
	}

}
#footer{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background: #efefef;
}
